html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Odibee Sans', cursive;
  background-image: url('../soporte/fondo.png');
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-tap-highlight-color: transparent; /* iOS/Android */
}

#root {
  max-width: 375px;
  margin: 0 auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
